* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* border: 1px solid white; */
}

body {
    background-color: black;
    padding: 25px;
    border: 2px solid white;
    height: 100vh;
}

h1 {
    color: red;
    font-size: 45px;
}

p {
    color: white;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.car {
    position: relative;
    width: 80%;
    height: 80%;

}

.image-container {
    width: 30vw;
    height: 50vw;
    position: relative;
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;
}
